body {
    margin: 0;
    background-color: $white;
    font-size: 12px;
    font-family: Arial Narrow;
}

#mobile_screen {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: $white;
    overflow: hidden;
}

#app_header {
    height: 40px;
    padding: 5px;
    z-index: 3;
    background-color: $header-color;
}

#app_body {
    overflow: auto;
    color: $black;
}

#app_footer {
    background-color: $black;
    z-index: 3;
    bottom: 0;
}

