$header-color: #fa4b2a;
$white:#fff;
$black:#000;
$orange:#dc4225;
$violet:#292484;
$green:#417711;
$ochre:#D38312;
$blue:#002f4b;
$grey:#222;
$light-grey:#2f2f2f;
$border:#ddd;
$medium-grey:#555;
$light-grey:#2f2f2f;
$light-grey:#2f2f2f;
