/* line 3, ../sass/base.scss */
body {
  margin: 0;
  background-color: #000;
  font-size: 12px;
  font-family: Arial Narrow;
}

/* line 10, ../sass/base.scss */
#mobile_screen {
  width: 320px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

/* line 19, ../sass/base.scss */
#app_header {
  height: 40px;
  padding: 5px;
  z-index: 3;
  background-color: #fa4b2a;
}

/* line 27, ../sass/base.scss */
#app_logo {
  width: 15%;
  height: 20px;
  padding: 5px 0px;
  cursor: pointer;
  text-align: center;
  float: left;
}

/* line 36, ../sass/base.scss */
i.material-icons {
  color: white;
  font-size: 25px;
}

/* line 41, ../sass/base.scss */
#app_name {
  width: 60%;
  height: 30px;
  font-size: 20px;
  color: white;
  font-family: Helvetica,Arial,sans-serif;
  float: left;
  padding: 5px 0px;
  text-align: center;
}

/* line 52, ../sass/base.scss */
#app_name img {
  height: 30px;
}

/* line 56, ../sass/base.scss */
#app_articles {
  width: 25%;
  float: left;
  color: white;
  cursor: pointer;
}

/* line 62, ../sass/base.scss */
#content_1 {
  font-size: 20px;
  text-align: center;
}

/* line 68, ../sass/base.scss */
#content_2 {
  font-size: 9.5px;
}

/* line 74, ../sass/base.scss */
#app_body {
  overflow: auto;
  color: #000;
}

/* line 81, ../sass/base.scss */
#app_footer {
  border-top: 1px solid #CCC;
  height: 33px;
  z-index: 3;
  bottom: 0;
}

/* line 89, ../sass/base.scss */
.app_Btn {
  height: 100%;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 8px;
  width: 32.2%;
  cursor: pointer;
  cursor: hand;
}

/* line 100, ../sass/base.scss */
.app_Btn i.material-icons {
  color: #fa4b2a;
}

/* line 105, ../sass/base.scss */
.app_Btn:hover {
  background-color: #d3d3d3;
}

/* line 109, ../sass/base.scss */
#drawer {
  position: absolute;
  top: 50px;
  padding-top: 50px;
  height: auto;
  width: 150px;
  background: #2f2f2f;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 34px;
  /*background:*/
  transition: 1s;
  left: -250px;
  z-index: 2;
}

/* line 125, ../sass/base.scss */
#drawer.drawer_left {
  transition: 1s;
  left: 0px;
}

/* line 130, ../sass/base.scss */
#drawer ul {
  list-style: none;
  padding: 0;
}

/* line 135, ../sass/base.scss */
#drawer li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: left;
  padding: 8px;
  margin: 5px;
}

/* line 144, ../sass/base.scss */
#drawer li {
  margin: 0;
  width: 100%;
}

/* line 149, ../sass/base.scss */
#drawer {
  padding-top: 10px;
}

/* line 153, ../sass/base.scss */
#drawer li a:hover {
  background-color: white;
  color: #2f2f2f;
}

/* line 159, ../sass/base.scss */
#drawer_articles {
  position: absolute;
  top: 50px;
  padding-top: 50px;
  height: auto;
  width: 200px;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 34px;
  /*background:*/
  transition: 1s;
  right: -250px;
  z-index: 2;
  border-left: 1px solid #fa4b2a;
}

/* line 177, ../sass/base.scss */
#drawer_articles.drawer_right {
  transition: 1s;
  right: 0px;
}

/* line 182, ../sass/base.scss */
#drawer_articles ul {
  list-style: none;
  padding: 0;
}

/* line 187, ../sass/base.scss */
#drawer_articles li a {
  display: block;
  color: #000;
  text-decoration: none;
  text-align: left;
  padding: 8px;
  margin: 5px;
}

/* line 196, ../sass/base.scss */
#drawer_articles li {
  margin: 0;
  width: 100%;
}

/* line 201, ../sass/base.scss */
#drawer_articles {
  padding-top: 10px;
}

/* line 205, ../sass/base.scss */
#drawer_articles li a:hover {
  background-color: white;
  color: #2f2f2f;
}

/* line 209, ../sass/base.scss */
.body_content {
  height: 200px;
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 215, ../sass/base.scss */
.body_content::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.7;
}

/* line 224, ../sass/base.scss */
#first {
  background: url("../images/dam.jpg");
  background-size: 100% 100%;
}

/* line 231, ../sass/base.scss */
#first::after {
  background: linear-gradient(135deg, #dc4225, #292484);
}

/* line 235, ../sass/base.scss */
#second {
  background: url("../images/dam.jpg");
  background-size: 100% 100%;
}

/* line 242, ../sass/base.scss */
#second::after {
  background: linear-gradient(135deg, #002f4b, #417711);
}

/* line 246, ../sass/base.scss */
#last {
  background: url("../images/dam.jpg");
  background-size: 100% 100%;
}

/* line 253, ../sass/base.scss */
#last::after {
  background: linear-gradient(135deg, #D38312, #002f4b);
}
